body {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    background: #393737;
}

.title,
.card-title {
    font-size: 5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

#title_container {
    background: #FF3131;
    border-radius: 0 0 15px 15px;
    max-height: 8rem;
    padding-left: 15%;
}

#title_container > div.pt-3 {
    padding-bottom: 5%;
}

#redmoon_img {
    width: 8rem;
}

#sign > a {
    text-decoration: none;
    color: #fff;
}

#welcome {
    font-size: 2.5rem;
}

#talent_container {
    background-color: rgb(6, 196, 242);
    background-image: linear-gradient(to right, rgba(6, 196, 242, 0), rgba(6, 196, 242, 0.5)), url(Images/talent_show.png);
}

#talent_container,
#proposta_container {
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-y: center;
    background-position-x: -8rem;
}

.card {
    width: 70%;
    border-radius: 30px;
    transition: 0.3s;
}

.card:hover {
    scale: 105%;
}

#talent_container > div,
#proposta_container > div {
    margin-left: 20%;
}

#proposta_container {
    background-color: rgb(110, 9, 9);
    background-image: linear-gradient(to right, rgba(110, 9, 9, 0), rgba(110, 9, 9, 0.5)), url(Images/redmoon2.jpg);
}

.card-title {
    font-size: 3.5rem;
}

.card-text {
    font-size: 1.5rem;
    color: #fff;
}

p > .title {
    font-size: 2rem;
}

@media(width <= 680px) {
    #talent_container {
        background-size: 150px;
        background-position-x: -4.3rem;
    }

    #talent_container:hover {
        scale: 100%;
    }

    .card-title {
        font-size: 2rem;
    }

    .card-text {
        font-size: 1rem;
    }

    p > .title {
        font-size: 1.5rem;  
    }
}